from google colab import files #匯入套件

import pandas as pd

upload = files.upload() #開啟上傳介面並載入

data = pd.read_csv("剛剛上傳的檔案名稱")

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/")
!ls -l"/content/gdrive/My Drive/latia/"
#!ls -l "自行填寫正確的路徑"

Mounted at /content/gdrive/
ls: invalid option -- '/'
Try 'ls --help' for more information.

In [2]:
import pandas as pd

csv_file = './latia/112_student.csv'

columns = [
   "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
   "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
   "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
   "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
]

df = pd.read_csv(csv_file, encoding='utf-8')

#查看前n筆資料, 預設為五
print(df.head(3))

#查看資料欄位資訊
print(df.info(verbose=True, show_counts=True))

#查看資料的統計學資訊描述
print(df.describe())

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般

[3 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None
         學年度         學校代碼            總計           男生計           女生計  \
count  764.0   764.000000    764.000000    764.000000    764.000000
mean   112.0   756.200262   1433.022251    708.655759    724.366492
std      0.0   504.152506   2633.932756   1385.170171   1348.848241
min    112.0     1.000000      1.000000      0.000000      0.000000
25%    112.0    48.000000    103.750000     43.750000     50.000000
50%    112.0  1029.000000    373.500000    180.000000    166.000000
75%    112.0  1060.000000   1387.500000    590.500000    718.500000
max    112.0  3002.000000  19466.000000  10885.000000  10716.000000

              一年級男         一年級女         二年級男         二年級女         三年級男  ...  \
count   764.000000   764.000000   764.000000   764.000000   764.000000  ...
mean    177.971204   173.545812   170.302356   166.284031   158.507853  ...
std     349.047086   321.080379   344.369500   315.779672   323.499085  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       5.000000     4.000000     5.000000     6.000000     6.000000  ...
50%      41.000000    37.000000    36.500000    35.000000    35.500000  ...
75%     161.250000   188.250000   157.000000   174.000000   127.500000  ...
max    2709.000000  2519.000000  2643.000000  2547.000000  2553.000000  ...

              四年級男         四年級女        五年級男        五年級女        六年級男  \
count   764.000000   764.000000  764.000000  764.000000  764.000000
mean    145.589005   161.738220   11.871728   20.469895    4.810209
std     308.939286   324.284355   32.233288   81.117153   19.818557
min       0.000000     0.000000    0.000000    0.000000    0.000000
25%       4.000000     4.000000    0.000000    0.000000    0.000000
50%      28.500000    30.000000    0.000000    0.000000    0.000000
75%     108.500000   141.500000    6.000000    6.000000    0.000000
max    2575.000000  2594.000000  309.000000  897.000000  179.000000

             六年級女        七年級男        七年級女         延修生男         延修生女
count  764.000000  764.000000  764.000000   764.000000   764.000000
mean     3.615183    2.955497    1.742147    36.647906    27.591623
std     13.204157   17.768959    8.937397    98.370926    74.731977
min      0.000000    0.000000    0.000000     0.000000     0.000000
25%      0.000000    0.000000    0.000000     0.000000     0.000000
50%      0.000000    0.000000    0.000000     0.000000     0.000000
75%      0.000000    0.000000    0.000000    21.000000    18.250000
max    125.000000  312.000000  132.000000  1448.000000  1107.000000

[8 rows x 21 columns]

## Q1 國立臺灣師範大學有多少學生

In [ ]:
ntnu_df = df[df['學校名稱'] == '國立臺灣師範大學']

total_students = ntnu_df['總計'].sum()

print(f"國立臺灣師範大學的總學生數量為：{total_students}")

國立臺灣師範大學的總學生數量為：16496

## Q2 臺灣師範大學男女組成

In [ ]:
total_males = ntnu_df['男生計'].sum()

total_females = ntnu_df['女生計'].sum()

print(f"國立臺灣師範大學的男性學生數量為：{total_males}")

print(f"國立臺灣師範大學的女性學生數量為：{total_females}")

國立臺灣師範大學的男性學生數量為：7034
國立臺灣師範大學的男性學生數量為：9462

## Q3 臺灣師範大學各年級組成

In [ ]:
ntnu_phd_df = ntnu_df[ntnu_df['等級別'] == 'D 博士']
print(f"國立臺灣師範大學的博士生數量為：{ntnu_phd_df['總計'].sum()}")
ntnu_ms_df = ntnu_df[ntnu_df['等級別'] == 'M 碩士']
print(f"國立臺灣師範大學的碩士生數量為：{ntnu_ms_df['總計'].sum()}")
ntnu_bs_df = ntnu_df[ntnu_df['等級別'] == 'B 學士']
print(f"國立臺灣師範大學的學士生數量為：{ntnu_bs_df['總計'].sum()}")

國立臺灣師範大學的博士生數量為：1337
國立臺灣師範大學的碩士生數量為：6656
國立臺灣師範大學的學士生數量為：8503

# 1.哪間大專院校有最多的學士生

step1: 取出想要查看的欄位，並印出此資料集共有多少筆紀錄 (len)

step2: 篩選等級別為"B 學士"的DataFrame，並印出有招生學士學制的學校數量

step3: 依據"總計"從大到小排序並印出結果 (sort_values, by, ascending)

In [ ]:
# df1 = df[['等級別']] # 取出想要觀看的欄位
# print("本資料集共有", len(df1), "筆紀錄")

df1 = df[df['等級別'] == 'B 學士']
df1
print("有招生學士學制的學校數量為",len(df1), "間\n")
df1_sorted = df1.sort_values(by = '總計', ascending = False)
# df1_sorted
print("112學年度在籍的學士生最多人數之學校為", df1_sorted.head(1)['學校名稱'].values, "一共有", df1_sorted.head(1)['總計'].values ,"人")

有招生學士學制的學校數量為 97 間

112學年度在籍的學士生最多人數之學校為 ['淡江大學'] 一共有 [19466] 人

# Q1_1 算上夜間部的話，哪間有最多的學士生？

In [ ]:
# Filter for bachelor's degree
bachelors_data = df[df['等級別'] == 'B 學士']

# Sum the total number of students for each university
university_totals = bachelors_data.groupby('學校名稱')['總計'].sum()

# Find the top university by sorting
top_bachelors_university = university_totals.sort_values(ascending=False).head(1)

# top_bachelors_university
print("算上夜間部學士的話是", top_bachelors_university.index[0], "共有", top_bachelors_university.values[0], "人")

算上夜間部學士的話是 輔仁大學 共有 21725 人

# 2. 國立？所；私立？所
step1: 建立空字串 (lsit=[])

step2: 建立for迴圈，配合if else條件，取出國立與私立

step3: 新增「公私立」column在DataFrame中 (df['公私立'])

step4: 篩選掉重複的學校代碼資料 (drop_duplicates)

step5: 計算公立與私立學校的筆數，並印出結果 (value_counts)

In [44]:
# 建立空字串
# 使用for in迴圈，配合if else條件，取出xx與yy並放入新的空字串中
# df["空字串的欄位名稱"] = 新的"空字串變數" 目的是在DataFrame尾巴處新增一個欄位
# drop_duplicates('xxxx') 篩選掉重複的xxxx資料
# value_counts(xxxx) 計算xxxx的筆數

type_list = []

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('國立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

df2 = df.drop_duplicates('學校代碼')
count = df2['公私立'].value_counts()

# print(df2)
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{count['國立']} 所；私立：{count['私立']} 所。")

本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

## My solution for Q2

In [ ]:
data = pd.read_csv(csv_file, encoding='utf-8')
# Use the 'apply' method to classify each university as public or private based on its name
data['公私立'] = data['學校名稱'].apply(lambda x: '公立' if '國立' in x or '市立' in x else '私立')

# Count the number of unique public and private universities
public_universities_count = data[data['公私立'] == '公立']['學校名稱'].nunique()
private_universities_count = data[data['公私立'] == '私立']['學校名稱'].nunique()

print(f"共蒐集 {public_universities_count+private_universities_count} 所學校")
print(f"公立大學共有: {public_universities_count} 間")
print(f"私立大學共有: {private_universities_count} 間")

共蒐集 145 所學校
公立大學共有: 47 間
私立大學共有: 98 間

# 3. 各等級別學制共有？所

step1: 篩選掉重複的學校名稱與等級別 (drop_duplicates, subset)

step2: 計算出等級別的筆數 (value_counts)

step3: 建立等級別的字串，並找出其類別 (unique)

step4: 使用for迴圈，依序列出所有等級別學制的學校數量 (count)

In [ ]:
# drop_duplicates(subset=['xxxx']) 篩選掉重複的xxxx資料(2種以上)
# value_counts(xxxx) 計算xxxx的筆數
# 使用for in迴圈，依序列出所有xxxx的數量(count[]), 並顯示xxxx[2:]從第2個字元到結束的所有字元

df3 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df3['等級別'].value_counts()
# print(count)
degree_list = list(df['等級別'].unique())
# print((degree_list))
print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree[2:]}。")

M 碩士     130
D 博士      84
C 二技      71
B 學士      67
B 四技      66
5 五專      46
2 二專      46
5 七年       2
X 4+X      1
C 二年制      1
Name: 等級別, dtype: int64
['D 博士', 'M 碩士', 'B 學士', 'X 4+X', 'C 二技', 'B 四技', '5 五專', '5 七年', '2 二專', 'C 二年制']
本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收博士。
一共有130 所學校， 有招收碩士。
一共有67 所學校， 有招收學士。
一共有1 所學校， 有招收4+X。
一共有71 所學校， 有招收二技。
一共有66 所學校， 有招收四技。
一共有46 所學校， 有招收五專。
一共有2 所學校， 有招收七年。
一共有46 所學校， 有招收二專。
一共有1 所學校， 有招收二年制。

# 4. 各縣市分別有？所，位於新北市的大專院校總共有幾所

In [20]:

universities_per_city = df.groupby('縣市名稱')['學校名稱'].nunique()

# Find the number of universities in New Taipei City
new_taipei_universities_count = universities_per_city.get('01 新北市', 0)

# print(universities_per_city.info(verbose=True, show_counts=True))

for i in range(len(universities_per_city)):
  print(f"{universities_per_city.index[i][3:]}, 有 {universities_per_city[i]} 所")
print(f"位於新北市的大專院校總共有: {new_taipei_universities_count} 所")

新北市, 有 20 所
宜蘭縣, 有 3 所
桃園市, 有 12 所
新竹縣, 有 2 所
苗栗縣, 有 3 所
臺中市, 有 6 所
彰化縣, 有 4 所
南投縣, 有 2 所
雲林縣, 有 3 所
嘉義縣, 有 4 所
臺南市, 有 9 所
高雄市, 有 7 所
屏東縣, 有 5 所
臺東縣, 有 2 所
花蓮縣, 有 4 所
澎湖縣, 有 1 所
基隆市, 有 3 所
新竹市, 有 5 所
臺中市, 有 11 所
嘉義市, 有 2 所
臺南市, 有 4 所
臺北市, 有 24 所
高雄市, 有 8 所
金門縣, 有 1 所
位於新北市的大專院校總共有: 20 所

# 5. 北中南東區分別有？所

都市及區域發展統計彙編 - 國發會 https://www.ndc.gov.tw/nc_77_4402

北部區域：包括臺北市、新北市、基隆市、新竹市、桃園市、新竹縣及宜蘭縣。

中部區域：包括臺中市、苗栗縣、彰化縣、南投縣及雲林縣。

南部區域：包括高雄市、臺南市、嘉義市、嘉義縣、屏東縣及澎湖縣。

東部區域：包括花蓮縣及臺東縣。

福建省：包括金門縣與連江縣。

In [35]:
# First, let's map each city to its corresponding region based on the provided classification.
# Then, we'll calculate the number of unique universities in each region.

# Mapping of cities to regions
city_to_region = {
    '臺北市': '北部',
    '新北市': '北部',
    '基隆市': '北部',
    '新竹市': '北部',
    '桃園市': '北部',
    '新竹縣': '北部',
    '宜蘭縣': '北部',
    '臺中市': '中部',
    '苗栗縣': '中部',
    '彰化縣': '中部',
    '南投縣': '中部',
    '雲林縣': '中部',
    '高雄市': '南部',
    '臺南市': '南部',
    '嘉義市': '南部',
    '嘉義縣': '南部',
    '屏東縣': '南部',
    '澎湖縣': '南部',
    '花蓮縣': '東部',
    '臺東縣': '東部',
    '金門縣': '福建省',
    '連江縣': '福建省'
}

df['縣市名稱'] = df['縣市名稱'].str.replace(r'^\d+\s', '', regex=True)

# Create a new column 'Region' based on the '縣市名稱' column mapped through city_to_region
df['區域'] = df['縣市名稱'].map(lambda x: city_to_region.get(x, '未知'))

# Count the number of unique universities in each region
universities_per_region = df.groupby('區域')['學校名稱'].nunique()
# print(universities_per_region.info(verbose=True, show_counts=True))
print("本資料共蒐集",universities_per_region.sum(),"筆資料")
for i in range(len(universities_per_region)):
  print(f"{universities_per_region.index[i]} 有 {universities_per_region[i]} 間")

本資料共蒐集 145 筆資料
中部 有 29 間
北部 有 69 間
南部 有 40 間
東部 有 6 間
福建省 有 1 間

# 6. 各體系別分別有？所

In [42]:
institutions_per_system = df.groupby('體系別')['學校名稱'].nunique()
print(f"全部共有 {institutions_per_system.sum()} 筆資料，其中：")
for system_type, count in institutions_per_system.items():
    print(f"{system_type} 共有: {count} 所")

全部共有 158 筆資料，其中：
1 一般 共有: 62 所
2 技職 共有: 91 所
3 師範 共有: 5 所

# 7. 國立/私立與男女比

In [59]:
# Calculate the sum of male and female students in public and private universities
gender_totals = df.groupby('公私立').agg({'男生計': 'sum', '女生計': 'sum'})

# Calculate the male-to-female ratio for public and private universities
gender_totals['男女比例'] = gender_totals['男生計'] / gender_totals['女生計']

# gender_totals
# gender_totals[['男女比例']]
for index, rate in gender_totals['男女比例'].items():
    print(f"{index}的男女比為 {round(rate * 100, 2)}")

國立的男女比為 119.84
私立的男女比為 84.48

# 8. 國立大學在學生男女比

In [49]:
# Filter for national (國立) universities
national_universities = df[df['公私立'] == '國立']

# Calculate the sum of male and female students, excluding extension students
adjusted_male_total = national_universities['男生計'].sum() - national_universities['延修生男'].sum()
adjusted_female_total = national_universities['女生計'].sum() - national_universities['延修生女'].sum()

# Calculate the male-to-female ratio for national universities, excluding extension students
adjusted_national_gender_ratio = adjusted_male_total / adjusted_female_total

print(f"國立大學在學生男女比為: {round(adjusted_national_gender_ratio * 100,2)}")

國立大學在學生男女比為: 119.11

 # 9. 每校平均最多與最少人的體系

In [77]:
total_students_per_system = df.groupby('體系別')['總計'].sum()
# institutions_per_system
# total_students_per_system
average_students_per_system = total_students_per_system / institutions_per_system
# average_students_per_system
maxID = average_students_per_system.idxmax()
minID = average_students_per_system.idxmin()
print(f"每校平均最多人的是{maxID}體系，平均每校 {round(average_students_per_system[maxID],2)} 人；")
print(f"每校平均最少人的是{minID}體系，平均每校 {round(average_students_per_system[minID],2)} 人。")

每校平均最多人的是1 一般體系，平均每校 9224.89 人；
每校平均最少人的是2 技職體系，平均每校 5265.91 人。

# 10. 將新增的欄位寫入並儲存成新的CSV檔案，並命名為112_students_tf.csv

新增的欄位有"公私立"，"縣市名"，"區域"

In [63]:
df
df.to_csv('./latia/112_students_tf.csv', encoding='utf-8', sep=',')